packages:
  yum:
    gcc: []
    gcc-c++: []
    openssl-devel: []

sources:
  /tmp: https://github.com/DamonOehlman/beantools/archive/master.tar.gz

option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 0.10.26
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: REL_LIBEVENT
    value: 2.0.21-stable
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: REL_COTURN
    value: 4.1.0.2

# before_deploy

# after_deploy
container_commands:
  01:
    command: /tmp/beantools-master/run.sh setup
  02:
    command: sudo -u ec2-user .ebextensions/scripts/bootstrap.sh
  99:
    command: /tmp/beantools-master/run.sh teardown
